/node_modules
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/.next/
/out/
/build
node_modules/.cache/
/coverage
.DS_Store
*.pem
*.log
*.swp
*.swo
.idea/
.vscode/
.env*
.env
.envrc
.vercel
*.tsbuildinfo
next-env.d.ts
venv/
env/
ai/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
ai/lib/
ai/__pycache__/
*.pt
*.pth
*.ckpt
*.h5
*.npz
*.pickle
*.pkl
*.hdf5
*.log